
@media (max-width: $mobile-width-only) {
  .accordeon__item {
    background: transparent;

    h3 {

    }

    .accordeon__content {
      display: none;
    }
  }





  .accordeon-content--active {
    .accordeon__content {
      display: block;
      animation: open 0.5s ease-out;
    }

    @keyframes open {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}
