.container {
  max-width: $desktop-width-only;
  min-width: $desktop-width;
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    max-width: $tablet-width-only;
    min-width: $tablet-width;
  }

  @media (max-width: $mobile-width-only) {
    max-width: $mobile-width-only;
    min-width: $mobile-width;
  }
}
