.footer {
  background-color: #fafafa;
  padding-top: 50px;
  position: relative;

  &::after,
  &::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $medium-grey;
    opacity: 0.2;
  }

  &::after {
    content: "";
    bottom: 52px;
  }

  @media (max-width: $tablet-width-only) {
    padding: 0;

    &::before {
      content: "";
      top: 96px;
    }

    &::after {
      bottom: 58px;
    }
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 45px;

    &::before {
      top: 260px;
    }

    &::after {
      content: "";
      bottom: 95px;
    }
  }
}

.footer__grid {
  display: grid;
  grid-template-rows: 107px 107px auto;
  grid-template-columns: 29.3% 35.1% 34.7%;
  padding-left: 10px;

  @media (max-width: $tablet-width-only) {
    grid-template-rows: 94px 300px auto;
    grid-template-columns: 39% 39% auto;
    padding: 0;
  }

  @media (max-width: $mobile-width-only) {
    grid-template-rows: repeat(7, auto);
    grid-template-columns: auto;
    justify-self: center;
  }
}

.footer__logo {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  margin-top: 14px;

  @media (max-width: $tablet-width-only) {
    margin-left: 26px;
    margin-top: 19px;
  }

  @media (max-width: $mobile-width-only) {
    grid-row: 1;
    grid-column: 1 / 2;
    margin: 0 auto;
  }
}

.footer__socials {
  grid-column: 1;
  grid-row: 2;
  margin-top: 14px;

  @media (max-width: $tablet-width-only) {
    grid-column: 3 / 4;
    grid-row: 1;
    margin-left: 35px;
    margin-top: 32px;
  }

  @media (max-width: $mobile-width-only) {
    grid-row: 3;
    grid-column: 1 / 2;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.footer__site-section {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-left: 5px;

  @media (max-width: $tablet-width-only) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 24px;
    margin-top: 26px;
  }

  @media (max-width: $mobile-width-only) {
    grid-row: 4;
    grid-column: 1 / 2;
    margin: 0;
    justify-self: start;
    margin-top: 63px;
  }
}

.footer__office {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: end;
  margin-right: 4px;

  @media (max-width: $tablet-width-only) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    margin-left: 72px;
    margin-top: 26px;
  }

  @media (max-width: $mobile-width-only) {
    grid-row: 5;
    grid-column: 1 / 2;
    margin: 0;
    justify-self: start;
    margin-top: 10px;
  }
}

.footer__copyright {
  grid-column: 1 / 3;
  grid-row: 3;

  @media (max-width: $tablet-width-only) {
    grid-column: 2 / 3;
    grid-row: 1;
    margin-left: 29px;
    margin-top: 21px;
  }

  @media (max-width: $mobile-width-only) {
    grid-row: 2;
    grid-column: 1 / 2;
    margin: 0 auto;
    margin-top: 5px;
  }
}

.footer__terms {
  grid-column: 2 / 3;
  grid-row: 3;
  justify-self: center;
  margin-left: 72px;

  @media (max-width: $tablet-width-only) {
    grid-column: 1 / 2;
    grid-row: 3;
    justify-self: start;
    margin-left: 27px;
  }

  @media (max-width: $mobile-width-only) {
    grid-row: 6;
    grid-column: 1 / 2;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.footer__developer {
  grid-column: 3 / 4;
  grid-row: 3;
  justify-self: end;
  margin-right: 4px;

  @media (max-width: $tablet-width-only) {
    grid-column: 2 / 4;
    grid-row: 3;
    margin-right: 24px;
  }

  @media (max-width: $mobile-width-only) {
    grid-row: 7;
    grid-column: 1 / 2;
    margin: 0 auto;
    justify-self: start;
    margin-top: -5px;
  }
}

.footer__logo-icon {
  margin-right: 6px;
}

.footer__slogan {
  fill: $dark-blue-grey;
  color: $bluish-grey;
}
