.header {
  height: 881px;
  background-color: $dark;
  background:
    url("../img/promo-bg.png") no-repeat right center,
    url("../img/background.jpg") repeat-x;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background:
      url("../img/promo-bg@2x.png") no-repeat right center,
      url("../img/background@2x.jpg") repeat-x;
  }

  @media (max-width: $tablet-width-only) {
    height: 688px;
    background-size: 465px 340px, auto;
    background-position: 170% 40%, 0 0;
  }
}

.header__wrapper {
  padding-top: 33px;
  padding-left: 10px;
  padding-right: 10px;


  @media (max-width: $tablet-width-only) {
    padding-top: 22px;
    padding-left: 25px;
    padding-right: 0px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 10px;
  }
}
