.header {
  height: 881px;
  background-color: $dark;
  background:
    url("../img/board.png") no-repeat calc(50% + 433px) 258px,
    url("../img/two-triangles.svg") no-repeat calc(50% + 352px) 106px,
    url("../img/background.jpg") repeat-x;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background:
      url("../img/board@2x.png") no-repeat calc(50% + 433px) 258px / 705px 515px,
      url("../img/two-triangles.svg") no-repeat calc(50% + 352px) 106px,
      url("../img/background@2x.jpg") repeat-x 0 0 / 100%;
  }

  @media (max-width: $tablet-width-only) {
    height: 686px;
    background:
      url("../img/board-tablet.png") no-repeat calc(100% + 205px) 115px / 465px 340px,
      url("../img/two-triangles-tablet.svg") no-repeat calc(100% + 200px) -40px,
      url("../img/background-tablet.jpg") repeat-x 0 0 / 100%;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background:
        url("../img/board-tablet@2x.png") no-repeat calc(100% + 205px) 115px / 465px 340px,
        url("../img/two-triangles-tablet.svg") no-repeat calc(100% + 200px) - 40px,
        url("../img/background-tablet@2x.jpg") repeat-x 0 0;
    }
  }

  @media (max-width: $mobile-width-only) {
    height: 648px;
    background:
    url("../img/board-mobile.png") no-repeat calc(100% + 10px) 90px,
    url("../img/two-triangles-mobile.svg") no-repeat calc(100% + 337px) -45px,
    url("../img/background-mobile.jpg") repeat-x;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background:
      url("../img/board-mobile@2x.png") no-repeat calc(100%) 90px,
      url("../img/two-triangles-mobile.svg") no-repeat calc(100% + 337px) -45px,
      url("../img/background-mobile@2x.jpg") repeat-x 0 0 50%;
  }
}

.header__wrapper {
  padding-top: 33px;
  padding-left: 10px;
  padding-right: 10px;

  @media (max-width: $tablet-width-only) {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 0px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 10px;
  }
}
