.header {
  height: 881px;
  background-color: $dark;
  background:
    url("../img/promo-bg.png") no-repeat right center,
    url("../img/background.jpg") repeat-x;
}

.header__wrapper {
  padding-top: 28px;
  padding-left: 10px;
  padding-right: 10px;
}
