.main-nav {
  display: flex;
  padding-left: 2px;
  padding-right: 6px;
}

.main-nav__logo {
  margin-right: auto;
  margin-top: 5px;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  min-width: 660px;
}

.main-nav__item {
  display: flex;
  align-items: center;
  margin-right: 88px;

  a {
    color: $white;
  }

  &:nth-child(2n) {
    margin-right: 50px;
  }

  &:last-child {
    margin: 0;

    a {
      font-family: $roboto-condensed;
      font-size: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      border-radius: 5px;

      border: 1px solid $white;
      padding: 12px 27px 13px 26px;
    }
  }
}

.main-nav__icon {
  margin-right: 20px;
  margin-top: -1px;

  &--phone {
    margin-right: 16px;
  }
}
