.socials__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.socials__item {

  svg {
    fill: $very-light-pink;
  }

  &:not(:last-child) {
    margin-right: 17px;
  }

  & svg:hover  {
    fill: $bright-sky-blue;
  }
  & svg:active {
    opacity: 0.7;
  }
}

